{% extends 'plugin/header.html' %}
{% block head %}
    <title>我有说的</title>
    <% for(let idx in htmlWebpackPlugin.files.js){ %>
    <script src="<%= htmlWebpackPlugin.files.js[idx] %>"></script>
    <% } %>
    <% for(let idx in htmlWebpackPlugin.files.css){ %>
    <link href="<%= htmlWebpackPlugin.files.css[idx] %>" rel="stylesheet"/>
    <% } %>
{% endblock %}

{% block content %}
    <img class="bg" src="/static/img/i-say_bg.jpg"/>
    <the-head></the-head>
    <b>该功能尚未完善</b>
{% endblock %}