#app{
  > .film{
    > .wrap{
      margin: 0 auto;
      flex-direction: column;
      > .info{
        > .posters{
          width: 60rem;
          height: 16rem;
          position: relative;
          padding: 0 0.8rem;
          background: black;
          > .outer{
            width: calc(100% - 1.6rem);
            height: 100%;
            position: absolute;
            left: 0.8rem;
            top: 0;
            overflow: hidden;
            > .gradient{
              width: calc(100% + 3rem);
              height: calc(100% - 1rem);
              background: repeating-linear-gradient(90deg, black 0rem, black 1.2rem, white 1.2rem, white 2rem);
              position: absolute;
              left: 0;
              top: 0.5rem;
            }
            > .inner{
              position: absolute;
              top: 1.2rem;
              left: 0;
              background: black;
              height: calc(100% - 2.4rem);
              > .contain{
                height: calc(100% - 1rem);
                > img{
                  height: 100%;
                  object-fit: contain;
                  margin: 0 0.5rem;
                }
              }
            }
          }
        }
        > .detail{
        }
      }
      > .the-history{
        > .list{
        }
      }
    }
  }
}