{% extends 'plugin/header.html' %}
{% block head %}
    <title>影视</title>
    <% for(let idx in htmlWebpackPlugin.files.js){ %>
    <script src="<%= htmlWebpackPlugin.files.js[idx] %>"></script>
    <% } %>
    <% for(let idx in htmlWebpackPlugin.files.css){ %>
    <link href="<%= htmlWebpackPlugin.files.css[idx] %>" rel="stylesheet"/>
    <% } %>
{% endblock %}

{% block content %}
    <img class="bg" src="/static/img/film_bg.jpg"/>
    <the-head></the-head>
    <div class="film top">
        <div class="wrap">
            <section class="info">
                <div class="posters">
                    <div class="outer">
                        <div class="gradient" :style="{left: gradient_left+'px'}"></div>
                        <div class="inner" :style="{left: inner_left+'px'}">
                            <div class="contain" v-for="i in multi_contain">
                                <img v-for="item in info.posters?JSON.parse(info.posters):[]" :key="item"
                                     :src="'/static/img/film/'+item" @click="showBigImg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <transition name="bounce-fade">
                    <div class="detail" v-show="fetched_info">
                        <div class="base-info">
                            <div class="cover">
                                <b>{{ info.nm }}</b>
                                <img :src="'/static/img/film/'+info.cover" @click="showBigImg"/>
                                <div class="summary">
                                    <span>{{ info.summary }}</span>
                                    <button v-show="has_more" @click="showMore">更多</button>
                                </div>
                                <transition name="fade">
                                    <div id="show-more" v-show="show_more||show_big_img">
                                        <span v-show="show_more">{{ info.summary }}</span>
                                        <img v-show="show_big_img" :src="show_big_img"/>
                                    </div>
                                </transition>
                            </div>
                            <div class="info">
                                <div v-for="(item,idx) in (info.info?JSON.parse(info.info):[])" :key="idx">
                                    <a :class="item.key">{{ item.key }}</a>
                                    <span>{{ item.val }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="c-m-time">
                            <span class="up">{{ info.c_tm }}</span>
                            <span class="mdf">{{ info.m_tm }}</span>
                        </div>
                        <div class="expl">
                            <span>{{ info.expl }}</span>
                        </div>
                    </div>
                </transition>
            </section>
            <transition name="bounce-fade">
                <section class="the-history" v-show="fetched_list">
                    <span class="history-ico">历史</span>
                    <div class="list">
                        <a v-for="item in history.list" :key="item.id" :href="'/film?id='+item.id" :title="item.nm">
                            <div class="plank">
                                <div class="lean" :title="item.nm"></div>
                                <div class="horizon"></div>
                                <div class="img">
                                    <img :src="'/static/img/film/'+item.cover"/>
                                </div>
                            </div>
                        </a>
                    </div>
                    <turn-page @event="turn_page" :count="history.count" :now="now" :show_count="5"
                               :onepage_showcount="onePage_showCount"></turn-page>
                </section>
            </transition>
        </div>
    </div>
{% endblock %}