@mixin text-overflow($line: 1){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  word-break: break-all;
  white-space: pre-wrap;
}
@mixin phone {
  @media screen and (max-width: 768px){
    @content
  }
}
@mixin pc{
  @media screen and (min-width: 768px){
    @content
  }
}

$--iconfont: 'iconfont';

$--i-beian: '\e048';
$--i-qq: '\e047';
$--i-github: '\e046';
$--i-bilibili: '\e045';
$--i-flower: '\e044';
$--i-country: '\e043';
$--i-film-len: '\e042';
$--i-examine: '\e041';
$--i-actors: '\e040';
$--i-director: '\e039';
$--i-film-name: '\e038';
$--i-writer: '\e036';
$--i-pc: '\e035';
$--i-hand: '\e034';
$--i-about: '\e032';
$--i-quote: '\e031';
$--i-feather: '\e030';
$--i-upload: '\e029';
$--i-modify: '\e028';
$--i-page-num: '\e027';
$--i-publisher: '\e026';
$--i-book-name: '\e025';
$--i-barcode: '\e024';
$--i-write-time: '\e023';
$--i-translate: '\e022';
$--i-del: '\e021';
$--i-ellipsis: '\e020';
$--i-history: '\e019';
$--i-tri: '\e017';
$--i-sound: '\e016';
$--i-back: '\e015';
$--i-add: '\e014';
$--i-search: '\e013';
$--i-config: '\e012';
$--i-running: '\e011';
$--i-submit: '\e010';
$--i-not-allow: '\e009';
$--i-pwd: '\e008';
$--i-warn: '\e007';
$--i-err: '\e006';
$--i-suc: '\e005';
$--i-close: '\e004';
$--i-book: '\e003';
$--i-film: '\e002';
$--i-words: '\e001';

$head-height: 3rem;
$head-index: 99;

$cape-index: 0;
$bg-img-index: -1;
$backstage-menu-index: 99;

$loading-index: 101;
$popup-index: 100;

@mixin show-more{
  #show-more{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    > span{
      width: calc(80% - 2rem);
      height: calc(80% - 2rem);
      @include phone{
        width: calc(100% - 2rem);
      }
      font-size: 0.92rem;
      word-break: break-all;
      white-space: pre-wrap;
      background: white;
      padding: 1rem;
      border-radius: 0.6rem;
      box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.4);
      overflow: auto;
    }
    >img{
      width: calc(80% - 2rem);
      height: calc(80% - 2rem);
      object-fit: contain;
      background: white;
      box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.4);
    }
    z-index: 999;
  }
}